/* common */

body {
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button:focus{
  outline: none;
}

.navbar,
.nav-link,
.dropdown-item {
  padding: 0;
}

.navbar-toggler {
  border: none;
}

/* ----->header */

header ul {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

header .navbar{
  padding: 0 60px;
}

.l-header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  width: 145px;
}

.headermenu-btn {
  height: 60px;
  width: 60px;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.headermenu-btn div {
  height: 3px;
  width: 16px;
  margin: 1px;
  background-color: #fff;
  border-radius: 1px;
}

.headermenu-btn span div:nth-of-type(1) {
  position: absolute;
  top: 20px;
}

.concept-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 5px;
}

.concept-menu-btn {
  width: 24px;
  height: 24px;
  border: #fff solid 1px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  right: 15px;
}

/* <-----header */

/* ----->main */

/* <-----main */

/* ----->footer */

/* <-----footer */

@media (min-width: 1200px) {
  .header-list {
    line-height: 90px;
  }

  #header-dropdown {
    display: flex;
  }

  header .navbar-expand-xl .navbar-nav .dropdown-item:hover {
    background-color: transparent;
  }

  header .navbar-expand-xl .navbar-nav li {
    padding: 0 15px;
  }

  header .navbar-expand-xl .navbar-nav .nav-link {
    font-size: 14px;
    transition: 0.2s;
    color: #fff;
  }

  header .navbar-expand-xl .navbar-nav .nav-link:hover {
    color: #999;
  }

  .concept-list {
    position: absolute;
  }

  .concept:hover ul {
    display: block;
  }

  header .navbar-expand-xl .navbar-nav .concept-list .nav-link {
    width: 220px;
    padding: 18px;
    line-height: 16px;
    background-color: #000;
    color: #fff;
  }

  header .navbar-expand-xl .navbar-nav .concept-list li {
    padding: 0;
  }

  header .navbar-nav .concept-list .nav-link:hover {
    background-color: #442602;
    color: #fff;
  }

}

@media (max-width: 1199px) {
  header {
    background-color: #000;
  }

  header .navbar{
    padding: 0 0 0 50px;
  }

  .l-header {
    height: 100%;
    padding-left: 50px;
    margin: 0;
  }

  .headermenu-btn{
    display: flex;
  }

  .navbar-nav,.nav-link  {
    padding: 0;
  }

  .dropdown-item:hover {
    background-color: #000;
  }

  .header-list {
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  header .navbar-nav .nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 50px;
    font-size: 12px;
    font-weight: 100;
    background-color: #000;
  }

  .concept {
    position: relative;
  }

  .concept-btn {
    display: block;
  }

  .concept-list {
    padding-left: 12px;
    position: static;
  }

  .concept-list a {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  .l-header {
    padding-left: 20px;
  }

  .header-logo img {
    width: 110px;
  }

  header .navbar-nav .nav-link {
    padding: 0 20px;
  }
}
