/* common */

body {
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar,
.nav-link,
.dropdown-item {
  padding: 0;
}

.navbar-toggler {
  border: none;
}

.link-btn {
  display: inline-block;
  text-align: center;
  width: 200px;
  padding: 0 15px;
  line-height: 55px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  transition: 0.5s;
}

.link-btn:hover {
  color: #fff;
  background-color: #442602;
}

.hide-extra-img {
  margin: 0 auto;
  overflow: hidden;
}

.zoom-img {
  transition: all 0.5s;
}

.zoom-img:hover {
  transform: scale(1.2, 1.2);
}

/* ----->header */

header ul {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: relative;
}

header > .navbar {
  padding: 0 60px;
}

.l-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-logo img {
  width: 145px;
}

header button:focus {
  outline: none;
}

.headermenu-btn {
  height: 60px;
  width: 60px;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.headermenu-btn div {
  height: 3px;
  width: 16px;
  margin: 1px;
  background-color: #fff;
  border-radius: 1px;
}

.header-list {
  line-height: 90px;
}

.header-list > .collapse:not(.show) {
  display: flex;
}

header .navbar .navbar-nav .dropdown-item:hover {
  background-color: transparent;
}

header .navbar .navbar-nav li {
  padding: 0 15px;
}

header .navbar .navbar-nav .nav-link {
  font-size: 14px;
  transition: 0.2s;
  color: #fff;
}

header .navbar .navbar-nav .nav-link:hover {
  color: #999;
}

.concept .dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
}

header .navbar .navbar-nav .concept-list .nav-link {
  width: 220px;
  padding: 18px;
  line-height: 16px;
  background-color: #000;
  color: #fff;
}

header .navbar .navbar-nav .concept-list li {
  padding: 0;
}

header .navbar-nav .concept-list .nav-link:hover {
  background-color: #442602;
  color: #fff;
}

/* <-----header */

/* ----->main */

section {
  padding: 0 40px;
  margin-bottom: 48px;
}

#top {
  padding: 0;
}

#top .backimage {
  background-color: #000;
  background-image: url(./img/top-img.jpg);
  background-size: cover;
  height: 60vw;
  display: flex;
  align-items: center;
}

#top .title {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

#top .title span {
  color: #fff;
  font-size: 48px;
  writing-mode: vertical-rl;
  line-height: 70px;
  font-weight: 500;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

#top .desc,
#cafe-info .text,
#plan .text {
  text-align: center;
  padding: 70px 0;
}

#top .desc {
  background-color: #000;
  color: #fff;
  margin-bottom: 48px;
}

#cafe-info .text {
  background-color: #f5f5f5;
  color: #442602;
}

#top .desc p,
#top .desc h1,
#cafe-info h2,
#cafe-info p {
  margin: 0;
}

#top .desc h1,
#cafe-info .text h2,
#plan .text .h2 {
  font-family: serif;
  font-size: 36px;
  padding-bottom: 16px;
}

#top .desc p,
#cafe-info .text p,
#plan .text p {
  font-size: 14px;
  line-height: 40px;
}

#cafe-info .images {
  display: flex;
  flex-wrap: wrap;
}

#cafe-info img {
  width: 25%;
}

#cafe-desc .card {
  border: none;
}

#cafe-desc .link {
  display: block;
  width: 100%;
  position: relative;
}

#cafe-desc .link::before {
  border-bottom: 150px solid transparent;
  border-left: 150px solid #fff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#cafe-desc .link .title {
  position: absolute;
  top: 0;
  left: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #442602;
  z-index: 1;
}

#cafe-desc .link img {
  width: 100%;
}

#cafe-desc .text {
  padding: 32px;
  background-color: #f5f5f5;
  text-align: center;
}

#cafe-desc .text p {
  font-size: 14px;
  line-height: 40px;
  margin-bottom: 32px;
}

#cafe-desc .card:last-of-type .text p {
  margin-bottom: 72px;
}

#news-event {
  padding: 60px 40px;
  background: #f5f5f5;
}

#news-event .inner {
  max-width: 1200px;
  margin: 0 auto;
}

#news-event h2,
#news-event h3,
#news-event p {
  margin: 0;
}

#news-event .news-title,
#news-event .event-title {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
  display: flex;
  margin-bottom: 36px;
  align-items: center;
}

#news-event .news-title h2,
#news-event .event-title h2 {
  font-size: 45px;
}

#news-event .news-title div,
#news-event .event-title div {
  margin-left: 16px;
}

.news article {
  background-color: #fff;
  padding: 20px;
  border: #ddd solid 1px;
}

.news article .date {
  color: #999;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}

.news article .title {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event article {
  border: solid 1px #ddd;
  background-color: #fff;
}

.event .link {
  display: flex;
  color: #000;
}

.event article img {
  width: 228px;
}

.event article .text {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  padding: 0 32px;
}

.event article .text .title {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.event article .text .date {
  color: #999;
  font-size: 12px;
}

#news-event .list-link {
  font-size: 14px;
  padding-top: 20px;
  text-align: right;
}

#news-event .list-link a {
  color: #000;
}

#news-event .list-link a:hover {
  color: #999;
}

#news-event .list-link a::after {
  content: ">";
  margin-left: 8px;
}

#plan {
  text-align: center;
}

#plan .inner {
  padding: 0 20px;
}

#plan .title {
  color: #442506;
  font-size: 36px;
  margin-bottom: 12px;
  line-height: 50px;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

#plan .plan-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#plan .plan-list .item {
  height: 100%;
}

#plan .plan-list .item:first-of-type {
  padding-right: 20px;
}

#plan .plan-list .item:nth-child(2) {
  border: 5px solid #442607;
}

#plan .plan-list .item:last-of-type {
  padding-left: 20px;
}

#plan .plan-list .plan-title {
  background: #a19283;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

#plan .plan-list .item:nth-child(2) .plan-title {
  background: #442607;
  line-height: 55px;
}

#plan .plan-list .price-data {
  padding: 24px;
  background: #ece9e6;
  line-height: 24px;
  border: 1px solid #ddd;
  border-top: 0;
  display: flex;
  flex-direction: column;
}

#plan .plan-list .price {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 700;
  color: #442602;
}

#plan .plan-list .price::before {
  content: "￥";
  font-size: 20px;
}

#plan .plan-list .price-data::after {
  content: "月額";
  font-size: 16px;
}

#plan .plan-list .data {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: 0;
  font-size: 14px;
  font-weight: 500;
}

#cafe-place {
  position: relative;
  text-align: center;
  background: center/cover url(./img/cafe-place-img.jpg);
}

#cafe-place::before {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
}

#cafe-place .inner {
  position: relative;
  z-index: 1;
}

#cafe-place .place-title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 36px;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

#cafe-place .place-desc {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}

#cafe-place .place-link {
  display: flex;
  justify-content: center;
}

#cafe-place .link-item {
  position: relative;
  width: 400px;
}

#cafe-place .link-item a {
  display: block;
}

#cafe-place .link-title {
  color: #442602;
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  background: #fff;
  line-height: 120px;
}

#cafe-place .link-title::before {
  position: absolute;
  right: 170px;
  border-top: 120px solid transparent;
  border-right: 60px solid #fff;
  border-left: 60px solid transparent;
  content: "";
}

#cafe-place .link-item img {
  transition: all 0.5s;
}

#cafe-place .link-item:hover img {
  transform: scale(1.2, 1.2);
}

/* <-----main */

/* ----->footer */

/* <-----footer */

@media (max-width: 1199px) {
  .header-list > .collapse:not(.show) {
    display: none;
  }

  header {
    background-color: #000;
  }

  header > .navbar {
    padding: 0 0 0 50px;
  }

  .l-header {
    height: 100%;
    margin: 0;
    position: relative;
  }

  .headermenu-btn {
    display: flex;
  }

  .navbar-nav,
  .nav-link {
    padding: 0;
  }

  .header-list {
    background-color: #000;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    line-height: 50px;
  }

  header .navbar .navbar-nav li {
    padding: 0;
  }

  header .navbar .navbar-nav .nav-link {
    font-size: 12px;
    font-weight: 100;
    padding: 0 50px;
  }

  header .navbar .navbar-nav .nav-link:hover {
    color: #fff;
  }

  .concept-btn {
    display: block;
  }

  .concept .dropdown-menu {
    padding-left: 12px;
    background-color: #000;
  }

  header .navbar .navbar-nav .concept-list .nav-link {
    width: 100%;
    line-height: 50px;
    padding: 0 50px;
  }

  header .navbar-nav .concept-list .nav-link:hover {
    background-color: #000;
  }

  section {
    padding: 0 20px;
  }

  .link-btn {
    width: 150px;
    font-size: 12px;
  }

  #top .title span {
    font-size: 36px;
  }

  #top .desc,
  #cafe-desc .text {
    padding: 40px 28px;
  }

  #cafe-place .place-title {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  #cafe-place .place-link {
    display: block;
  }
}

@media (max-width: 767px) {
  header > .navbar {
    padding: 0 0 0 20px;
  }

  .header-logo img {
    width: 110px;
  }

  header .navbar .navbar-nav .nav-link {
    padding: 0 20px;
  }

  header .navbar .navbar-nav .concept-list .nav-link {
    padding: 0 20px;
  }

  .link-btn {
    width: 180px;
    line-height: 45px;
  }

  #top .title span {
    font-size: 24px;
    line-height: 40px;
  }

  #top .desc,
  #cafe-info .text {
    margin-bottom: 40px;
    padding: 32px 20px;
  }

  #top .desc h1,
  #cafe-info .text h2 {
    font-size: 20px;
    padding-bottom: 8px;
  }

  #top .desc p,
  #cafe-info .text p {
    line-height: 30px;
  }

  #cafe-info .images img {
    width: 50%;
  }

  #cafe-desc .card {
    margin-bottom: 32px;
  }

  #cafe-desc .link .title {
    font-size: 18px;
  }

  #cafe-desc .text {
    padding: 24px;
  }

  #cafe-desc .text p {
    margin-bottom: 16px;
    line-height: 30px;
  }

  #news-event .news-title,
  #news-event .event-title {
    margin-bottom: 20px;
  }

  #news-event .news-title h2,
  #news-event .event-title h2 {
    font-size: 28px;
  }

  #news-event .news-title div,
  #news-event .event-title div {
    margin-left: 12px;
    font-size: 14px;
  }

  .news article {
    padding: 12px 20px;
  }

  .news article .date {
    margin-bottom: 4px;
    font-size: 10px;
  }

  .news article .title,
  .event article .text .title {
    font-size: 14px;
    line-height: 28px;
  }

  .event article img {
    display: none;
  }

  .event article .text {
    padding: 16px 20px;
  }

  .event article .text .title {
    margin-bottom: 6px;
  }

  .event article .text .date {
    font-size: 10px;
  }

  #plan {
    margin-bottom: 40px;
  }

  #plan .title {
    font-size: 20px;
  }

  #plan .plan-list {
    display: block;
  }

  #plan .plan-list .item:first-of-type,
  #plan .plan-list .item:last-of-type {
    padding: 0;
  }

  #plan .plan-list .plan-title {
    font-size: 16px;
    line-height: 45px;
  }

  #plan .plan-list .price-data {
    padding: 16px;
  }

  #plan .plan-list .price {
    margin-bottom: 12px;
    font-size: 36px;
  }

  #cafe-place .place-title {
    font-size: 20px;
  }

  #cafe-place .inner {
    width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 470px) {
  #top .title span {
    font-size: 16px;
  }

  #cafe-place .inner,
  #cafe-place .place-link,
  #cafe-place .link-item {
    width: 100%;
  }

  #cafe-place .link-item:hover img {
    transform: none;
  }
}
